<ion-item lines="none">
  <ion-label>
    <h1><b>taylorSwift</b></h1>
  </ion-label>
  <ion-avatar>
    <img src="../../assets/13.jpg">
  </ion-avatar>
</ion-item>
<div class="info_box">
  <div class="data_box">
    <b>100</b>
    <p>posts</p>
  </div>
  <div class="data_box">
    <b>1000</b>
    <p>followers</p>
  </div>
  <div class="data_box">
    <b>10</b>
    <p>following</p>
  </div>
</div>
<ion-button class="text_button" shape="round" size="small">Envia un mensaje</ion-button>
<ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
  <ion-icon color="dark" slot="icon-only" name="contact"></ion-icon>
  <ion-icon color="dark" slot="icon-only" name="checkmark"></ion-icon>
</ion-button>

<ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
  <ion-icon color="dark" slot="icon-only" name="arrow-dropdown"></ion-icon>
</ion-button>
<ion-item lines="none">
  <ion-label>
    <h3><b>Taylor swift</b> <ion-icon color="primary" name="checkmark-circle"></ion-icon></h3>
    <p>Industria musical</p>
  </ion-label>
</ion-item>
<ion-segment color="medium">
  <ion-segment-button>
    <ion-icon name="keypad"></ion-icon>
  </ion-segment-button>
  <ion-segment-button>
    <ion-icon name="list"></ion-icon>
  </ion-segment-button>
  <ion-segment-button>
    <ion-icon name="star"></ion-icon>
  </ion-segment-button>
  <ion-segment-button>
    <ion-icon name="contact"></ion-icon>
  </ion-segment-button>
</ion-segment>